@import '../../../styles/mixins';
@import '../../../styles/variables';
:host {
    @include flex-center;
    height: 100%;
    overflow: auto;
}

.overview {
    section {
        margin: 1rem 0;
        max-width: 500px;
    }
    &_avatar {
        >img {
            display: inline-block;
            width: 200px;
            border-radius: 50%;
            border: 2px solid $white;
        }
    }
    &_title {
        >h2 {
            font-size: 3rem;
            margin: 0;
        }
    }
    &_btns {
        >a {
            @include button;
        }
    }
    &_content {
        p {
            width: 100%;
        }
        p a {
            display: inline-block;
            width: 100%;
            color: $white;
            font-size: 1.5rem;
            font-family: $apple-font-en;
            text-decoration: none;
        }
    }
}

@include mobile {
    .overview {

        section {
            margin: 1rem;
            max-width: 100%;
        }

        margin-top: 10rem;
        
        &_avatar {
            height: 10rem;
            >img {
                width: 50%;
            }
        }
    }
}