@import '../../styles/mixins';
@import '../../styles/variables';

:host {
    @include flex-center;
    height: 100%;
}

.overview {

    section {
        margin: 1rem 0;
        max-width: 400px;
    }

    &_avatar {
        height: 200px;

        > img {
            display: inline-block;
            width: 200px;
            border-radius: 50%;
            border: 2px solid $white;
        }
    }

    &_title {
        > h2 {
            font-size: 3rem;
            margin: 0;
        }
    }

    &_btns {
        > a {
            @include button;
        }
    }

    &_content {
        p a {
            color: $white;
            font-size: 2rem;
            font-family: $apple-font-en;
            text-decoration: none;
        }
    }
}