@import './variables';
@import './mixins';

@import './icomoon';
@import './font';

body {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: 0;
    font-family: $apple-font;
    font-size: 22px;
    color: $white;
}