@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    background-color: transparent;
    display: inline-block;
    padding: .5rem 1.2rem;
    border: solid 1px #fff;
    z-index: 1;
    line-height: 1;
    color: inherit;
    transition: border .3s;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 0 5px;
    border-radius: 5px;
}