<div class="overview">
    <section class="overview_avatar">
        <img src="../../assets/img/avatar.jpg">
    </section>
    <section class="overview_title">
        <h2>Json Chen</h2>
    </section>
    <section class="overview_btns">
        <a>btn1</a>
        <a routerLink="/location">btn2</a>
    </section>
    <section class="overview_content">
        <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
        <p>
            <a href="mailto:jasonchen23333@gmail.com">jasonchen23333@gmail.com</a>
        </p>
        <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
        <p>操作</p>
    </section>
</div>