@import '../../../styles/mixins';

:host {
    @include flex-center;
    height: 100%;
}

.content {
    position: absolute;
    width: 60%;
    height: 40%;
    color: #fff;

    h1 {
        font-size: 5rem;
        font-weight: normal;
        > img {
            width: 100%;
        }
    }

    &_btn_wrapper {
        > a {
            @include button;
            text-decoration: none;
        }
    }
}